@model IEnumerable<string>
@*This button displays all categories*@
<a class="btn btn-block btn-secondary" asp-action="Index" asp-controller="Home"
   asp-route-category="">
    Home
</a>

@*This loop displays all the categories*@
@foreach (string category in Model)
{
    <a class="btn btn-block @(category == ViewBag.SelectedCategory ? "btn-primary" : "btn-outline-dark")"
       asp-action="Index" asp-controller="Home"
       asp-route-category="@category"
       asp-route-page="1">
        @category
    </a>
}